<button (click)="addLayer()" style="position: absolute;z-index: 100;">addSource</button>
<button (click)="removeControl()" style="position: absolute;top:20px;z-index: 100;">removeSource</button>
<button (click)="drawLayer()" style="position: absolute;top:40px;z-index: 100;">addlayer</button>
<button (click)="removeLayer()" style="position: absolute;top:60px;z-index: 100;">removelayer</button>
<button (click)="addMarker()" style="position: absolute;top:80px;z-index: 100;">addMarker</button>
<button (click)="removeMarker()" style="position: absolute;top:100px;z-index: 100;">removeMarker</button>

<ng-mapbox class="container" [config]="config" (map)="getMap($event)" [instructions]="test">
</ng-mapbox>
