/* You can add global styles to this file, and also import other style files */
@import "./app/map-box/assets/mapbox.css";
body{
	margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}